In [1]:
# 时间序列基础
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas import DataFrame,Series

In [8]:
dates = [datetime(2011,1,2),
        datetime(2011,1,5),
        datetime(2001,1,7),
        datetime(2011, 1, 8),
        datetime(2011, 1, 10),
        datetime(2011, 1, 12)]
ts = Series(np.random.randn(6),index=dates)
print(type(ts)) # 注意，和书上说的TimeSeries不一样
print(type(ts.index))
ts

<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

2011-01-02    0.405769
2011-01-05   -0.001642
2001-01-07   -1.987541
2011-01-08    2.254855
2011-01-10   -0.420854
2011-01-12   -1.139979
dtype: float64

In [9]:
ts + ts[::2] # 无法对齐的地方自动填充NaN  输出按照DatetimeIndex排序

2001-01-07   -3.975082
2011-01-02    0.811537
2011-01-05         NaN
2011-01-08         NaN
2011-01-10   -0.841707
2011-01-12         NaN
dtype: float64

In [10]:
ts.index.dtype # 以ns为单位保存时间戳

dtype('<M8[ns]')

In [11]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [12]:
# 索引、选取、自己构造

In [13]:
ts['1/10/2011']  # 使用代表时间的字串做索引

2011-01-10   -0.420854
dtype: float64

In [14]:
ts['20110110']

2011-01-10   -0.420854
dtype: float64

In [15]:
ts['2011-01-10']

2011-01-10   -0.420854
dtype: float64

In [16]:
longer_ts = Series(np.random.randn(1000),
                  index=pd.date_range('2000-01-01',periods=1000))
print(longer_ts.head())
print(longer_ts.tail())

2000-01-01    1.266903
2000-01-02   -0.146862
2000-01-03   -0.406535
2000-01-04   -0.476608
2000-01-05    1.106608
Freq: D, dtype: float64
2002-09-22   -0.424720
2002-09-23   -1.050267
2002-09-24   -0.011216
2002-09-25    0.887510
2002-09-26   -2.170567
Freq: D, dtype: float64

In [17]:
longer_ts['2001'].head()# 直接选年份

2001-01-01   -0.302202
2001-01-02    1.027769
2001-01-03   -0.101152
2001-01-04    0.344733
2001-01-05   -0.629116
Freq: D, dtype: float64

In [18]:
longer_ts['2001-05'].head()# 年+月

2001-05-01    1.440137
2001-05-02    0.221277
2001-05-03   -0.188590
2001-05-04    0.476864
2001-05-05    1.436310
Freq: D, dtype: float64

In [20]:
dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)] # 重新构造一遍，便于查询数据
ts = Series(np.random.randn(6), index=dates)
ts[datetime(2011, 1, 7):] # 为什么切片只返回4天？

2011-01-07    0.638319
2011-01-08    1.311210
2011-01-10   -2.166621
2011-01-12   -0.523998
dtype: float64

In [21]:
ts

2011-01-02   -0.651395
2011-01-05    0.134085
2011-01-07    0.638319
2011-01-08    1.311210
2011-01-10   -2.166621
2011-01-12   -0.523998
dtype: float64

In [22]:
# 1/6 和 1/20 虽然没不存在Series中，但是会自动查找这两个时间之间的。
ts['1/6/2011':'1/20/2011']

2011-01-07    0.638319
2011-01-08    1.311210
2011-01-10   -2.166621
2011-01-12   -0.523998
dtype: float64

In [25]:
# 这个切片和其他不一样，不是左闭右开。而是左闭右闭。
ts['1/6/2011':'1/12/2011']

2011-01-07    0.638319
2011-01-08    1.311210
2011-01-10   -2.166621
2011-01-12   -0.523998
dtype: float64

In [26]:
ts.truncate(after='1/8/2011') # 截取的意思，最远到2011/1/8

2011-01-02   -0.651395
2011-01-05    0.134085
2011-01-07    0.638319
2011-01-08    1.311210
dtype: float64

In [28]:
ts.truncate(before='1/5/2011') # 截取的意思，最早到2011/1/5

2011-01-05    0.134085
2011-01-07    0.638319
2011-01-08    1.311210
2011-01-10   -2.166621
2011-01-12   -0.523998
dtype: float64

In [29]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = DataFrame(np.random.randn(100,4),
                   index=dates,
                   columns=['Colorado','Texas','New York','Ohio'])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.635136 -0.572309  1.406004  0.647439
2000-01-12 -0.531007  0.306290 -1.288325  0.266187
2000-01-19 -0.385962 -0.756599 -0.411511 -0.720233
2000-01-26  1.156059 -1.740803  1.335803 -1.274905
2000-02-02  0.441049 -1.291466  1.688195 -0.891558

In [31]:
long_df.loc['5-2001'] # 2001年5月

            Colorado     Texas  New York      Ohio
2001-05-02 -0.061002 -1.556095  1.239641 -0.667483
2001-05-09 -0.413920 -2.055784 -0.405853 -0.998052
2001-05-16 -1.628791 -1.959495 -0.808181  1.107297
2001-05-23 -0.593319  1.193797 -0.200666 -0.077647
2001-05-30  1.011102  1.008912 -0.057616 -1.087705

In [35]:
long_df.loc['2001-05-02']

Colorado   -0.061002
Texas      -1.556095
New York    1.239641
Ohio       -0.667483
Name: 2001-05-02 00:00:00, dtype: float64

In [36]:
long_df.loc['2001-05-02':'2001-06-02']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.061002 -1.556095  1.239641 -0.667483
2001-05-09 -0.413920 -2.055784 -0.405853 -0.998052
2001-05-16 -1.628791 -1.959495 -0.808181  1.107297
2001-05-23 -0.593319  1.193797 -0.200666 -0.077647
2001-05-30  1.011102  1.008912 -0.057616 -1.087705

In [37]:
# 带有重复索引的时间序列

In [38]:
dates = pd.DatetimeIndex(['1/1/2000',
                          '1/2/2000',
                          '1/2/2000',
                          '1/2/2000',
                          '1/3/2000'])
dup_ts = Series(np.arange(5),index=dates)

In [41]:
dup_ts.index.is_unique

False

In [46]:
dup_ts['1/3/2000'] # 不重复

4

In [47]:
dup_ts['1/2/2000'] # 重复

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [48]:
grouped = dup_ts.groupby(level=0)
print(grouped.mean())

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64